<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/lib/normalize.min.css">
    <link rel="stylesheet" href="../../static/css/xcs/xcs1.css">
    <link rel="stylesheet" href="../../static/components/ShowName/style.css">
</head>

<body>
    <div id="app">
        <h1 class="title">{{title}}</h1>
        <p class="text">{{memo}}</p>
        <p class="text">5 + 3 = {{calculate}}</p>

        <hr/>
        <span>input your name:</span><input type="text" class="input" v-model="name">
        <show-name :name="name"></show-name>
    </div>


    <script src="../../static/lib/vue.min.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/components/ShowName/index.js"></script>
    <script src="../../static/js/xcs/xcs1.js"></script>
</body>

</html>